$bp-largest: 78em; //1200px
$bp-medium: 61.8em;   //960px
$bp-small: 54.9em; //875px
$bp-small-next: 52em; //800px
$bp-small-almost-mobile: 47em; //720px
$bp-mobile: 43.5rem; //660px

$color-scheme-primary: #AAAA67;
$color-scheme-primary-light: #C8C89E;
$color-scheme-primary-dark: #7C7C4B;
$color-scheme-white: #EBECE4;
$color-scheme-brown: #78736F;
$color-scheme-black: #172121;
$color-scheme-highlight: #F0A202;
$color-scheme-highlight-bold: #8A2BE2;

$color-scheme-section-light: #D3D0CB;

* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    background: linear-gradient(to right bottom, $color-scheme-primary-light, $color-scheme-primary);

    @media only screen and (max-width: $bp-largest) {
        font-size: 67%;
    }

    @media only screen and (max-width: $bp-medium) {
        font-size: 55.5%;
    }

    @media only screen and (max-width: $bp-small-next) {
        font-size: 50%;
    }

    @media only screen and (max-width: $bp-small-almost-mobile) {
        font-size: 45%;
    }
}

body {
    margin: 3rem;

    @media only screen and (max-width: $bp-largest) {
        margin: 0;
    }
}

.container {
    // background-color: lightblue; 
    display: grid;
    grid-template-rows: 1fr repeat(4, min-content);

    @media only screen and (max-width: $bp-largest) {
        grid-template-rows: 1fr 64.5rem repeat(3, min-content);
    }
}

//1200px bp 