.default-header {
    padding: 2rem 6rem; 
    background: $color-scheme-white;
}

@mixin transition($args: all 0.3s ease 0s) {
    -webkit-transition: $args;
    -moz-transition: $args;
    -o-transition: $args;
    transition: $args;
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    height: 3rem;
    width: 3rem;
}

nav {
    margin-right: 7rem; 

    @media only screen and (max-width: $bp-mobile) {
        margin-right: 1.8rem;
    }

    @include transition();
    transform-origin: 100% 50%;

    &.hide {
        transform: scale(0);
    }

    a {
        font-size: 1.6rem;
        font-weight: 500;
        text-transform: uppercase;
        color: $color-scheme-primary;
        margin: 0 2.5rem;
        display: inline-block;
        text-decoration: none; 
        transition: all .2s;

        &:hover {
            color: $color-scheme-highlight;
            border-bottom: .1rem solid $color-scheme-highlight;
            transform: scale(1.1);
        }
    }
}

.menu-bar {
    cursor: pointer;
    span {
        color: $color-scheme-black;
        font-size: 24px;
    }
}

.main-menubar {
    position: relative;
    display: flex;
    align-items: center;
}
