.default-header {
    padding: 2rem 6rem; // @include media-breakpoint-down(lg) {
    //     padding: 20px 30px;
    // }
    // @include media-breakpoint-down(sm) {
    //     padding: 20px 15px;
    //     .menu-bar {
    //         cursor: pointer;
    //         span {
    //             color: $title-color;
    //             font-size: 24px;
    //         }
    //     }
    //     .main-menubar {
    //         position: relative;
    //     }
    // }
}

@mixin transition($args: all 0.3s ease 0s) {
    -webkit-transition: $args;
    -moz-transition: $args;
    -o-transition: $args;
    transition: $args;
}

.header-top {
    //  d-flex justify-content-between align-items-center
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    height: 3rem;
    width: 3rem;
}

nav {
    margin-right: 7rem; 

    @media only screen and (max-width: $bp-mobile) {
        margin-right: 1.8rem;
    }

    @include transition();
    transform-origin: 100% 50%;

    &.hide {
        transform: scale(0);
    }

    a {
        font-size: 1.6rem;
        font-weight: 500;
        text-transform: uppercase;
        color: orange;
        margin: 0 2.5rem;
        display: inline-block;
        text-decoration: none; 

        &:hover {
            color: yellow;
        }
    }
}

.menu-bar {
    cursor: pointer;
    span {
        color: black;
        font-size: 24px;
    }
}

.main-menubar {
    position: relative;
    display: flex;
    align-items: center;
}

.white-menubar {
    .menu-bar span {
        color: #fff;
    }
    nav a {
        color: rgba(#fff, .7);
        &:hover {
            color: rgba(#fff, 1);
        }
    }
}