.content {
    padding: 2rem 4rem;
    background-color: $color-scheme-section-light;
}

.portfolio-items {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    grid-gap: .8rem;
    margin: 3rem auto; 
}

.portfolio-item {
    position: relative;
    overflow: hidden;
    flex: 1 1 20rem;

    .portfolio-image {
        display: block;
        width: 100%;
        object-fit: cover;
    }

    figcaption {
        position: absolute;
        top: 100%;
        bottom: 0;
        right: 0;
        left: 0;
        padding: 1rem;
        background: rgba($color-scheme-highlight, .75);
        color: white;
        text-align: left;
        display: flex;
        flex-direction: column;
        transition: top ease-in-out 250ms;
    }

    &:hover figcaption,
    &:focus figcaption {
        top: 0;
    }
}

.portfolio-title {
    color: $color-scheme-white;
    text-shadow: .2rem .1rem $color-scheme-black;
    font-size: 2.5rem;
    font-family: 'Rufina', serif;
}

.portfolio-desc {
    color: $color-scheme-black;
    margin-bottom: auto;
    font-size: 1.8rem;
    font-family: 'Oxygen', sans-serif;

    @media only screen and (max-width: $bp-largest) {
        font-size: 1.3rem;
    }

     @media only screen and (max-width: $bp-medium) {
         font-size: 2rem;
     }

    @media only screen and (max-width: $bp-mobile) {
        font-size: 1.7rem;
    }

    &-featured {
        font-size: 2.1rem;
    }
}

.portfolio-link {
    color: $color-scheme-white; 
    text-decoration: none;
    border-bottom: .3rem solid $color-scheme-primary-dark;
    align-self: flex-start;

    &::after {
        display: inline-block;
        height: .8rem;
        width: .8rem;
        margin-left: .5rem;
    }
}

@supports (display: grid) {
    .portfolio-items {

        @media only screen and (max-width: $bp-medium) {
            grid-template-columns: repeat(2, 1fr);
        }

        .portfolio-item.featured {
            grid-column: 1 / span 2;
            grid-row: 1 / span 2;
        }
        .featured {
            .portfolio-title {
                font-size: 3.2rem;

                 @media only screen and (max-width: $bp-largest) {
                     font-size: 4.2rem;
                 }

                @media only screen and (max-width: $bp-medium) {
                    font-size: 5rem;
                }
            }
            .portfolio-desc {
                display: block;
            }
        }
    }

    .portfolio-modal {
        position: fixed;
        z-index: 10;
        top: 2rem;
        bottom: 2rem;
        left: 2rem;
        right: 2rem;
        background: $color-scheme-white;
        box-shadow: 0 0 0 3rem rgba($color-scheme-brown, .5);
        overflow-y: scroll;
        overflow-x: hidden;
        display: none;

        &.is-open {
            display: grid;
            grid-template-rows: .3fr .5fr .2fr;
            grid-template-columns: 4fr 1fr;
            grid-gap: 1rem;

            @media only screen and (max-width: $bp-small-next) {
                grid-template-columns: 2fr 1fr;
                grid-template-rows: 150% 1fr;
            }
        }
    }

    .modal-close {
        background: $color-scheme-white;
        position: fixed;
        left: 1rem;
        top: 1rem;
        border: 0;
        width: 3rem;
        height: 3rem;
        padding: .4rem 0 0;
        border-radius: 50%;
        cursor: pointer;
        box-shadow: 0 0 .5rem rgba($color-scheme-brown, .5);

        @media only screen and (max-width: $bp-medium) {
            width: 4rem;
            height: 4rem;
        }
    }
    .portfolio-header {
        grid-row: 1/ -1;
        padding: 3rem;
        margin: 3rem;
        background-size: cover;
        background-position: top;

        &-one {
            background-image: url(../img/project-vr-modal1.jpg);
        }

        &-two {
            background-image: url(../img/project-providence-modal.jpg);
            background-position-y: -33rem;

            @media only screen and (max-width: $bp-largest) {
                background-position-y: 0rem;
            }

            @media only screen and (max-width: $bp-small-next) {
                background-position-y: -12rem;
            }

            @media only screen and (max-width: $bp-mobile) {
                background-position-y: 0rem;
            }
        }

        &-three {
            background-image: url(../img/project-voyages-modal.jpg);
        }

        &-four {
            background-image: url(../img/project-journalist-modal.jpg)
        }

        &-five {
            background-image: url(../img/project-cafam-1.jpg);
        }

        @media only screen and (max-width: $bp-small-next) {
            margin: 0;
            grid-column: 1 / -1;
            height: 100%;
            grid-row: 1 / 2;
        }
    }
    // .header-two {
    //     background-image: url(../img/portfolio-02.jpg);
    // }

    .portfolio-title-box {
        padding: 0 0 3rem 0;
        // background-color: rgba($color-scheme-brown, .5);

        .portfolio-title {
            font-size: 3.5rem;
            display: inline-block;
            color: $color-scheme-highlight;
            text-shadow: .2rem .1rem $color-scheme-black;

            &::after {
                content: '';
                display: block;
                height: .1rem;
                margin: .5rem 0;
                background: $color-scheme-black;
                width: 100%;
            }
        }
    }
    .portfolio-sideImg {
        grid-column: 2 / 3;
        width: 20rem;
        padding: 0;
        transform: rotate(5deg) scaleX(1.4);
        border: $color-scheme-black solid .1rem;
        box-shadow: 1rem 1rem 2rem $color-scheme-black;
        margin-top: 4rem;
        margin-right: 13rem;

        @media only screen and (max-width: $bp-largest) {
            width: 17rem;
        }

        @media only screen and (max-width: $bp-small-next) {
            display: none;
        }
    }

    .portfolio-subtitle {
        font-size: 2.3rem;
        // text-shadow: .1rem .1rem $color-scheme-black;
        color: $color-scheme-black;
    }
    .portfolio-content {
        padding: 1em;
        grid-row: 2 / 3;
        color: $color-scheme-black;

        @media only screen and (max-width: $bp-small-next) {
            grid-row: 2 / -1;
            grid-column: 1 / -1;
        }
    }

    .appLink {
        &:link,
        &:visited {
            z-index: 100;
            font-size: 1.8rem;
            text-decoration: none;
            margin-top: 1rem;
            display: inline-block;
            color: $color-scheme-primary;
            text-shadow: .1rem .1rem $color-scheme-brown; // background-image: linear-gradient(120deg, transparent 0%, transparent 50%, $color-scheme-white 50%);
            transition: all .3s;
        }
        &:hover,
        &:active {
            // background-position: 100%;
            color: $color-scheme-highlight;
            transform: translateX(1rem);
        }
    }

    .weblink {
        &:link,
        &:visited {
            z-index: 100;
            text-decoration: none;
            color: $color-scheme-primary;
        }
        &:hover,
        &:active {
            color: $color-scheme-highlight;
        }
    }

    @keyframes modalIn {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
    @keyframes modalOut {
        0% {
            opacity: 1;
        }
        100% {
            opacity: 0;
        }
    }
}