.heading {

    &-1 {
    font-family: 'Rufina', serif;
    font-size: 5.1rem;
    line-height: 6rem;
    text-transform: uppercase;
    color: $color-scheme-black;
    animation: moveInLeft 2s ease-out;

        @media only screen and (max-width: $bp-mobile) {
            margin-left: 3rem;
            font-size: 4.7rem;
        }
    }

    &-2 {
        font-family: 'Oxygen', sans-serif;
        font-size: 4.5rem;
        letter-spacing: .7rem;
        text-align: center;
        margin: 5rem 0;
        color: $color-scheme-brown;
        text-shadow: .1rem .1rem $color-scheme-black;

        @media only screen and (max-width: $bp-mobile) {
            margin-top: 2rem;
        }
    }

    &-3 {
        font-size: 3rem;
        margin-bottom: 1.5rem;
        font-family: 'Rufina', serif;
        line-height: 1.4;
        text-transform: uppercase;
        padding: 1rem;
    }

    &-4 {
        font-family: 'Oxygen', sans-serif;
        font-size: 3rem;
        line-height: 3.2rem;
        color: $color-scheme-black;

        &-bold {
            color: $color-scheme-highlight;
            animation: moveInRight 2s ease-out;
        }
    }

    &-5 {
        font-family: 'Rufina', serif;
        font-size: 1.5rem;
        letter-spacing: .3rem;
        margin: 1.5rem 0;
        color: $color-scheme-primary-dark;

        @media only screen and (max-width: $bp-mobile) {
            letter-spacing: 0;
            font-size: 1.9rem;
            color: $color-scheme-primary;
        }
    }

    &-paragraph {
        padding: 1.5rem 5rem 1.5rem 1.5rem;
        font-size: 1.6rem;
        color: $color-scheme-black;
        line-height: 2rem;
        font-family: 'Rufina', serif;

        @media only screen and (max-width: $bp-mobile) {
            color: $color-scheme-white;
            padding: 1.5rem;
            text-shadow: 0.2rem 0.1rem $color-scheme-black;
            font-size: 1.7rem;
        }
    }

    &-modal {
        font-family: 'Rufina', serif;
        font-size: 3rem;

        @media only screen and (max-width: $bp-largest) {
            font-size: 2.3rem;
        }

        @media only screen and (max-width: $bp-medium) {
            font-size: 3.8rem;
        }

        @media only screen and (max-width: $bp-mobile) {
            font-size: 2.7rem;
        }
    }

    &-link {
        font-family: 'Oxygen', sans-serif;
        font-size: 1.9rem;
        text-shadow: .1rem .1rem $color-scheme-black;
        // color: $color-shceme-white;

         @media only screen and (max-width: $bp-largest) {
             font-size: 1.2rem;
         }

          @media only screen and (max-width: $bp-medium) {
              font-size: 2rem;
          }

        &-featured {
            font-size: 3rem;
        }
    }
}

.paragraph {
    font-size: 1.7rem;
    line-height: 1.3;

    &-modalContent {
        width: 80%;
        padding: 1rem;

        &::first-letter {
            font-size: 4rem;
            color: $color-scheme-primary;
            vertical-align: bottom;
            line-height: 3rem;
        }
    }

    &__content {
        padding: 1.5rem;
        font-size: 1.6rem;
        text-align: center;
        margin: 1rem 4rem;
    }

    &__services {
        width: 50%;
        margin: 0 auto;
    }
}

.hobbies__text {
    font-family: 'Oxygen', sans-serif;
}

@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-10rem);
    }
    80% {
        transform: translateX(.5rem);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(10rem);
    }
    80% {
        transform: translateX(-.5rem);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}